<!-- form to provide area to type new name for user, input stored in name="name" and used in: get "/change_user_name" do -->

<form action="/change_user_name">
  <input type="name" name="name" placeholder="New name: ">

  <input type="hidden" name="x" value="<%= params["x"] %>">

  <input type="submit">
</form>

