<!-- warning that clicking "confirm" will remove user from database -->

<p>Press <a href="/user/delete_user/<%= @user_name.id %>">confirm</a> to delete <%= @user_name.name %>.</p>
<a href="/home">Return to main menu?</a>

