<header>
  <h1>CookcoLab</h1>
  <nav>
    <ul>
      <li><a href="/users_manager">Manage Users</a></li>
      <li><a href="/recipes_manager">Manage Recipes</a></li>
      <li><a href="/tags_manager">Manage Tags</a></li>
    </ul>
  </nav>
</header>



<!-- Takes user to users.rb controller and begins at:  get "/users_manager" do -->
<!-- Takes user to recipes.rb controller and begins at:  get "/users_manager" do -->