
<h1>CookcoLab</h1>

<p>Choose an initial action to begin.</p>

<ul>
  <li><a href="/users_manager">Manage Users</a></li>
  <li><a href="/recipes_manager">Manage Recipes</a></li>
</ul>

<!-- Takes user to users.rb controller and begins at:  get "/users_manager" do -->
<!-- Takes user to recipes.rb controller and begins at:  get "/users_manager" do -->
