
<h1>User Manager</h1>

<p>Choose an initial action to begin.</p>

<ul>
  <li><a href="/add_user">Add a user</a></li>
  <li><a href="/find_user">Find a user</a></li>
  <li><a href="/update_user">Change user's name</a></li>
  <li><a href="/delete_user">Delete a user</a></li>
</ul>