<!-- message to user to confirm tag was added -->

<h1>Tags added!</h1>


<a href="/tags/add_tag_form">Add another?</a>
<a href="/tags_manager">Return to Tag Manager?</a>
<a href="/home">Return to main menu?</a>