<h1>Tag Manager</h1>

<p>Choose an initial action to begin.</p>

<ul>
  <li><a href="/tags/add_tag_form">Add a tag</a></li>
  <li><a href="/tags/find_tag">Find a tag</a></li>
  <li><a href="/home">Return home</a></li>
</ul>