
<h1>User Manager</h1>

<p>Choose an initial action to begin.</p>

<ul>
  <li><a href="/users/add_user_form">Add a user</a></li>
  <li><a href="/users/find_user">Find a user profile</a></li>
  <li><a href="/users/delete_user">Delete a user</a></li>
  <li><a href="/home">Return home</a></li>
</ul>