<!-- form will go to /save_user and take input as params["name"] -->

<h1>Make a recipe</h1>

<form method="post" action="/save_recipe">
  Recipe's Title:
  <br>
  <input type="text" name="title" placeholder="New title: ">
  <br><br>
  
  Published Date:
  <br>
  <input type="text" name="published_date" placeholder="New published_date: ">
  <br><br>
  
  Recipe's Instructions:
  <br>
  <TEXTAREA NAME="content" ROWS="3" COLS="25">
	  
  </TEXTAREA>
  <br><br>
  
  Author's ID:
  <br>
  <input type="number" name="user_id" placeholder="New user_id: ">
  <br><br>
  
  Type of Meal:
  <br>
  <input type="number" name="meal_id" placeholder="New meal_id: ">
  <br><br>
  
  Tags:
  <br>
  <TEXTAREA NAME="tag" ROWS="3" COLS="25">
	  
  </TEXTAREA>
  
  <input type="submit">
</form>
<p>To assign yourself to a recipe, enter your user id in the form.</p>
<p>To assign you're recipe a meal, enter the meal id in the form.</p>
<ul>
  <% Meal.all.each do |meal| %>
	<li><%= meal.id %>. <%= meal.meal %></li>
  <% end %>
</ul>

