<h1>List of Recipes</h1>

<ul>
  <% Recipe.all.each do |recipe| %>
      <li><a href="/recipe/<%= recipe.id %>"><%= recipe.title %></a></li>
  <% end %>
</ul>

<p>
	Return to <a href="/recipes_manager">Recipe Manager?</a>
</p>


<!-- the ruby tags provide ability to loop through the "users" table and display the name in each row -->
<!-- The href="/user/<%# user.id %> will take the user back to the users.rb and route to: get "/user/:x" do -->