
<h1>Recipe Manager</h1>

<p>Choose an initial action to begin.</p>

<ul>
  <li><a href="/recipes/add_recipe_form">Add a recipe</a></li>
  <li><a href="/recipes/find_recipe">Find a recipe</a></li>
  <li><a href="/home">Return home</a></li>
</ul>

<!-- 
		"/users/add_user_form" 	takes user to users /users/save_user 		
 		"/users/find_user" 		takes user to users /users/find_user		

					   	   routes found using: get "/users/:webpage" do	 	
						  				  (found at bottom of users.rb)					

 		"/home"					takes user to index /home
-->