<!-- message to user to confirm user's name was updated -->

<h1><%= @recipe.title %> updated!</h1>
<p><a href="/home">GO HOME!</a></p>
<p><a href="/recipe/<%= @recipe.id %>">Review <%= @recipe.title %>?</a></p>

